html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    /*main content fills all the space*/
}

#indexBody {
    /*
    bg image source: https://unsplash.com/photos/aerial-photography-of-mountains-k6GpdsPJSZw
    */
    background-image: url("/images/index_bg_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /*(fixed bg so it does not move and covers the full page)*/
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-color: #2b2d2f;
    font-family: Arial, Helvetica, sans-serif;
}

.otherBody {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    background-color: #b8c1d2;
    font-family: Arial, Helvetica, sans-serif;
}

/*navbar inspiration from w3schools (modified)*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c9d2e3;
}

ul li {
    float: right;
}

ul li a {
    display: block;
    color: #232d3a;
    text-align: center;
    padding: 14px 16px;
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    font-size: 200%;
}

ul li a:active {
    text-decoration: underline;
}

ul li a:hover {
    background-color: #536887;
}

#welc {
    text-align: center;
    color: #2b333f;
}

h1 {
    font-size: 400%;
}

h2 {
    font-size: 200%
}

.introText {
    font-size: 130%
}

/*footer inspiration from w3schools (modified)*/
footer {
    left: 0;
    bottom: 0;
    background-color: rgb(69, 90, 120, 0.3);
    color: white;
    text-align: center;
    padding: 10px 0;

}

#aboutMeLink {
    border: 1px solid black;
    background-color: #b8c1d2;
    width: 140px;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

#aboutMeLink:hover {
    background-color: #536887;
}

button:hover {
    background-color: rgb(69, 90, 120, 0.3);

}

.centeredH2 {
    text-align: center;
}

#formDiv {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
    background-color: #536887;
}

textarea {
    width: 30%;
    height: 30%;
}

input[type=text],
[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#contactContainer {
    margin-left: 40%;
    margin-right: 40%;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
    margin-bottom: 4%;
}

#submitButton {
    border: 1px solid black;
    background-color: #ffff;
    width: 140px;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    margin: auto;
    margin-top: 20px;

}


#submitButton:hover {
    background-color: #536887;
}

#pictureContainer {
    display: flex;
    justify-content: center;
    /*rows centered*/
    align-items: center;
    gap: 20px;
    /*space between pictures(divs)*/
    flex-wrap: wrap;
    /*wrap pictures on smaller screens*/
    padding: 20px;
}

.pictureDiv img {
    width: 250px;
    /*fixed width for all of the pictures so they all look more or less the same*/
    height: auto;
    border-radius: 8px;
}

.textContainerDiv {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}

.active {
    text-decoration: underline;
}

#cvContainer {
    font-size: 20px;
    margin: 2% 25% 0% 25%;
}

#cvHeadContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px 0px 5px 0px;
}

.tHeaders {
    background-color: white;
    font-weight: bold;
}



.countriesContainer {
    background-color: red;
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: 0 auto 5%;
    box-sizing: border-box;
}

.countriesContainer img {
    display: block;
    width: 100%;
    height: auto;
}

.countriesContainer .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}